### `product_list.xlsx` Summary
- not all `index` values match the `Unnamed: 0` column
- maybe remove `Unnamed: 0` column
- `product_id` conforms to regex `PRODUCT[0-9]{5}`
- record duplicates filtered by `product_id` have completely different attributes other than `product_id` itself
- `product_name` matches to string pattern `([a-zA-Z]+ )*[a-zA-Z]+`
	- there are however exceptions that doesn't seem to be incorrect inputs that include `[0-9'/]`
- `product_type` needs to be conformed
	- either turn all spaces to underscores or vice versa
	- is `nan` a valid value?
- `price` seems okay
	- there are more unique `product_name`s than unique `price`s

In [1]:
import pandas as pd
from scripts.load import *

Adding product_list.xlsx ...
Adding user_credit_card.pickle ...
Adding user_data.json ...
Adding user_job.csv ...
Adding merchant_data.html ...
Adding order_with_merchant_data1.parquet ...
Adding order_with_merchant_data2.parquet ...
Adding order_with_merchant_data3.csv ...
Adding staff_data.html ...
Adding campaign_data.csv ...
Adding transactional_campaign_data.csv ...
Adding line_item_data_prices1.csv ...
Adding line_item_data_prices2.csv ...
Adding line_item_data_prices3.parquet ...
Adding line_item_data_products1.csv ...
Adding line_item_data_products2.csv ...
Adding line_item_data_products3.parquet ...
Adding order_data_20200101-20200701.parquet ...
Adding order_data_20200701-20211001.pickle ...
Adding order_data_20211001-20220101.csv ...
Adding order_data_20220101-20221201.xlsx ...
Adding order_data_20221201-20230601.json ...
Adding order_data_20230601-20240101.html ...
Adding order_delays.html ...



--------------------------------------------------
Read Complete
Access the DataFrame of each file using the `all` dictionary
e.g. all["filename"]

below are the available keys for access:
1:	product_list.xlsx
2:	user_credit_card.pickle
3:	user_data.json
4:	user_job.csv
5:	merchant_data.html
6:	order_with_merchant_data1.parquet
7:	order_with_merchant_data2.parquet
8:	order_with_merchant_data3.csv
9:	staff_data.html
10:	campaign_data.csv
11:	transactional_campaign_data.csv
12:	line_item_data_prices1.csv
13:	line_item_data_prices2.csv
14:	line_item_data_prices3.parquet
15:	line_item_data_products1.csv
16:	line_item_data_products2.csv
17:	line_item_data_products3.parquet
18:	order_data_20200101-20200701.parquet
19:	order_data_20200701-20211001.pickle
20:	order_data_20211001-20220101.csv
21:	order_data_20220101-20221201.xlsx
22:	order_data_20221201-20230601.json
23:	order_data_20230601-20240101.html
24:	order_delays.html

In [2]:
x = all['product_list.xlsx']

In [3]:
x

,Unnamed: 0,product_id,product_name,product_type,price
0,0,PRODUCT16794,Grandmas swedish thin pancakes,readymade_breakfast,12.81
1,1,PRODUCT61957,Chili jack oven omelet,readymade_breakfast,9.95
2,2,PRODUCT23890,Baked pears,readymade_breakfast,10.04
3,3,PRODUCT52912,Best buttermilk pancakes,readymade_breakfast,5.83
4,4,PRODUCT56387,Blackberry breakfast bars,readymade_breakfast,14.00
...,...,...,...,...,...
745,445,PRODUCT35203,tomato,grocery,17.28
746,446,PRODUCT34682,bowl,kitchenware,17.28
747,447,PRODUCT07137,dehumidifier,electronics and technology,38.07
748,448,PRODUCT29484,rice,grocery,17.28
749,449,PRODUCT22046,dove deodorant,health and hygiene,6.11

In [4]:
x.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'product_type', 'price'], dtype='object')

In [5]:
x[x.index != x['Unnamed: 0']]

,Unnamed: 0,product_id,product_name,product_type,price
100,0,PRODUCT51619,Fresh mango bread,readymade_lunch,28.83
101,1,PRODUCT58549,Hoisin marinated wing pieces,readymade_lunch,21.42
102,2,PRODUCT11963,Italian deli wraps,readymade_lunch,36.47
103,3,PRODUCT45096,Caramelized onion focaccia bread machine,readymade_lunch,32.29
104,4,PRODUCT34562,Katos tasty salmon cream cheese surprise,readymade_lunch,11.91
...,...,...,...,...,...
745,445,PRODUCT35203,tomato,grocery,17.28
746,446,PRODUCT34682,bowl,kitchenware,17.28
747,447,PRODUCT07137,dehumidifier,electronics and technology,38.07
748,448,PRODUCT29484,rice,grocery,17.28
749,449,PRODUCT22046,dove deodorant,health and hygiene,6.11

In [6]:
x[x.product_id.str.fullmatch('PRODUCT[0-9]{5}')]

,Unnamed: 0,product_id,product_name,product_type,price
0,0,PRODUCT16794,Grandmas swedish thin pancakes,readymade_breakfast,12.81
1,1,PRODUCT61957,Chili jack oven omelet,readymade_breakfast,9.95
2,2,PRODUCT23890,Baked pears,readymade_breakfast,10.04
3,3,PRODUCT52912,Best buttermilk pancakes,readymade_breakfast,5.83
4,4,PRODUCT56387,Blackberry breakfast bars,readymade_breakfast,14.00
...,...,...,...,...,...
745,445,PRODUCT35203,tomato,grocery,17.28
746,446,PRODUCT34682,bowl,kitchenware,17.28
747,447,PRODUCT07137,dehumidifier,electronics and technology,38.07
748,448,PRODUCT29484,rice,grocery,17.28
749,449,PRODUCT22046,dove deodorant,health and hygiene,6.11

In [7]:
x[~x.product_name.str.fullmatch('([a-zA-Z]+ )*[a-zA-Z]+')]

,Unnamed: 0,product_id,product_name,product_type,price
19,19,PRODUCT02479,3 meat breakfast pizza,readymade_breakfast,5.65
52,52,PRODUCT05776,3 meat breakfast pizza,readymade_breakfast,9.64
65,65,PRODUCT31979,3 meat breakfast pizza,readymade_breakfast,11.21
73,73,PRODUCT42606,6 week bran muffins auntie annes muffins,readymade_breakfast,6.52
97,97,PRODUCT01350,6 week bran muffins auntie annes muffins,readymade_breakfast,8.57
161,61,PRODUCT16814,Number 400 seafood casserole,readymade_lunch,23.81
171,71,PRODUCT47523,Number 400 seafood casserole,readymade_lunch,17.31
187,87,PRODUCT35116,3 meat breakfast pizza,readymade_lunch,22.53
188,88,PRODUCT55496,Number 400 seafood casserole,readymade_lunch,19.08
269,69,PRODUCT27300,Bergy dim sum 5 steamed shrimp dumplings,readymade_dinner,39.63
292,92,PRODUCT04721,Ww potato gratin 5 points,readymade_dinner,37.01
298,98,PRODUCT62588,Ww potato gratin 5 points,readymade_dinner,31.92
321,21,PRODUCT15136,box of Q-tips,health and hygiene,6.11
376,76,PRODUCT06861,children's pants,apparel,17.28
536,236,PRODUCT03714,mp3 player,electronics and technology,38.07
699,399,PRODUCT21614,purse/bag,apparel,17.28

In [8]:
x.product_type.unique()

array(['readymade_breakfast', 'readymade_lunch', 'readymade_dinner',
       'accessories', 'kitchenware', 'toys and entertainment', 'grocery',
       'apparel', 'furniture', 'health and hygiene', 'stationary',
       'tools', 'jewelry', 'technology', 'electronics and technology',
       'sports', 'cosmetics', 'stationary and school supplies',
       'school supplies', 'music', 'others', 'cleaning materials',
       'cosmetic', 'appliances', 'toolss', nan], dtype=object)

In [9]:
x[x.product_type.isna()]

     Unnamed: 0    product_id     product_name product_type  price
736         436  PRODUCT58030  bottle of paint          NaN  21.26

In [10]:
x[x.duplicated(['product_id'], False)].sort_values(['product_id'])

,Unnamed: 0,product_id,product_name,product_type,price
40,40,PRODUCT10592,Scrambled egg sandwiches with onions and red p...,readymade_breakfast,13.18
437,137,PRODUCT10592,tooth pick,health and hygiene,6.11
680,380,PRODUCT19599,oslo paper,stationary and school supplies,5.74
684,384,PRODUCT19599,Christmas ornament,furniture,38.07
499,199,PRODUCT38223,safety pin,accessories,5.74
542,242,PRODUCT38223,fishing hook,accessories,5.74
62,62,PRODUCT47439,Purple cow,readymade_breakfast,10.89
327,27,PRODUCT47439,pair of scissors,tools,17.28
462,162,PRODUCT50527,slipper,apparel,17.28
509,209,PRODUCT50527,sofa,furniture,38.07
44,44,PRODUCT61036,Blueberry banana happy face pancakes,readymade_breakfast,8.09
589,289,PRODUCT61036,pair of binoculars,tools,17.28
150,50,PRODUCT62030,Delicious cheesy bacon and green onion potato ...,readymade_lunch,19.76
401,101,PRODUCT62030,chocolate,grocery,17.28

In [11]:
x.price.unique()

array([12.81,  9.95, 10.04,  5.83, 14.  , 13.55, 15.23,  7.28,  9.92,
        6.78, 13.61,  7.53, 12.39,  9.4 ,  7.75,  9.19, 15.5 , 10.95,
       13.11,  5.65,  8.72,  8.43,  6.82,  7.65,  8.83,  8.07, 11.6 ,
        6.87,  6.94, 13.87, 10.2 ,  7.58, 13.33, 11.69, 10.73, 15.41,
        8.34,  6.44, 14.25,  8.97, 13.18,  8.87, 11.94,  8.09, 10.8 ,
       11.75,  7.32, 11.74,  6.01, 10.61,  6.8 ,  9.64,  8.01, 12.29,
       12.38,  6.34,  9.39,  6.43,  6.99, 10.15, 10.89, 12.68, 15.29,
       11.21,  5.89, 14.76,  8.44,  5.77,  5.73,  7.25,  6.52, 11.31,
        7.29, 13.24,  9.93,  8.08, 14.05,  6.24, 13.64,  6.22,  5.68,
       14.47,  8.3 ,  7.01, 14.36,  8.88, 11.63, 11.36, 14.42,  6.53,
        8.65, 13.38,  8.89,  5.67,  8.57, 11.95, 12.55, 28.83, 21.42,
       36.47, 32.29, 11.91, 40.11, 31.49, 28.38, 31.73, 33.52, 26.96,
       39.48, 24.22, 23.77, 14.58, 40.09, 11.18, 19.36, 16.66, 20.48,
       23.88, 14.72, 28.59, 14.7 , 17.28, 18.64, 39.13, 34.72, 31.01,
       23.97, 11.56, 20.62, 39.3 , 35.75, 19.92, 31.54, 21.53, 34.81,
       23.3 , 38.38, 30.98, 22.7 , 36.91, 35.03, 25.52, 22.13, 27.18,
       31.65, 26.92, 19.76, 38.51, 12.44, 15.52, 11.4 , 31.53, 31.69,
       29.8 , 12.52, 12.53, 23.81, 26.85, 12.46, 23.14, 21.01, 38.74,
       11.79, 10.98, 16.97, 23.09, 17.31, 19.56, 17.15, 27.23, 33.63,
       27.86, 18.14, 20.42, 17.66, 30.73, 39.03, 24.29, 30.61, 28.84,
       31.05, 22.53, 19.08, 24.59, 19.42, 37.15, 39.23, 17.93, 15.16,
       20.81, 20.82, 22.06, 24.44, 36.77, 38.45, 48.63, 37.4 , 50.04,
       49.46, 49.64, 55.42, 31.57, 31.08, 46.26, 38.4 , 31.64, 42.71,
       52.93, 43.66, 54.8 , 44.52, 31.62, 32.21, 33.81, 34.29, 54.2 ,
       36.34, 42.58, 44.03, 44.45, 32.53, 47.13, 41.76, 45.81, 44.37,
       30.68, 31.41, 39.35, 39.99, 49.3 , 54.38, 39.09, 47.47, 39.1 ,
       51.44, 38.48, 48.39, 50.69, 38.62, 45.33, 45.61, 34.96, 36.11,
       33.11, 52.55, 42.13, 52.13, 51.68, 43.4 , 45.72, 55.46, 40.87,
       45.94, 37.61, 32.6 , 40.15, 52.61, 40.31, 50.32, 39.76, 39.63,
       35.9 , 43.83, 30.82, 48.53, 35.51, 40.05, 55.4 , 47.57, 40.62,
       34.33, 38.24, 52.91, 47.18, 52.47, 35.5 , 52.5 , 36.73, 47.78,
       48.96, 38.88, 37.01, 36.42, 51.12, 37.05, 47.34, 46.66, 31.92,
       52.31,  5.74, 38.07,  6.11, 16.11, 22.26, 21.41,  4.47, 15.09,
       24.63, 22.68, 16.69, 14.08, 12.51,  6.35, 16.51, 18.67, 10.11,
       16.64,  5.02, 21.38, 25.46,  8.13, 11.81, 21.71, 25.95, 20.61,
       19.1 , 19.51, 18.99, 16.32,  9.02,  8.86, 21.45, 18.02, 15.69,
       23.24,  7.55, 17.84,  3.78, 16.  , 23.13, 14.67, 13.17, 21.26])

In [12]:
x.price.nunique()

333

In [13]:
x.product_name.nunique()

642